replicaCount: 2

image:
  repository: astatine25/pv-multimodal-forecasting
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80

resources:
  limits:
    cpu: 1
    memory: 2Gi
